{{template "header" .}}
<title>Beego 博客</title>
</head>

<body>

    {{template "nav" .}}

    <div class="container">
        {{template "msgbox" .}}
        <div class="jumbotron">
            <h1>Beego 博客！</h1>
            <p>这是一个基于Beego的golang博客系统</p>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {{range $topic := .Topics }}
                <div class="page-header">
                    <h3><a href="/topic/view/{{$topic.Id}}">{{$topic.Title}}</a>
                    </h3>
                    <h6 class="text-muted">文章发表于 {{dateformat $topic.Created "2006-01-02 15:04:05"}}，共有 {{$topic.Views}} 次浏览， {{$topic.ReplyCount}} 个评论</h6>
                    <p id="{{$topic.Id}}">
                        <script type="text/javascript">
                        (function(){
                            $("#{{$topic.Id}}").html(markdown.toHTML({{$topic.Content}}));
                        })();
                        </script>
                    </p>
                </div>
                {{end}}
                {{if gt .paginator.PageNums 1}}
                <ul class="pagination pagination-sm">
                    {{if .paginator.HasPrev}}
                        <li><a href="{{.paginator.PageLinkFirst}}">首页</a></li>
                        <li><a href="{{.paginator.PageLinkPrev}}">&lt;</a></li>
                    {{else}}
                        <li class="disabled"><a>首页</a></li>
                        <li class="disabled"><a>&lt;</a></li>
                    {{end}}
                    {{range $index, $page := .paginator.Pages}}
                        <li{{if $.paginator.IsActive .}} class="active"{{end}}>
                            <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
                        </li>
                    {{end}}
                    {{if .paginator.HasNext}}
                        <li><a href="{{.paginator.PageLinkNext}}">&gt;</a></li>
                        <li><a href="{{.paginator.PageLinkLast}}">尾页</a></li>
                    {{else}}
                        <li class="disabled"><a>&gt;</a></li>
                        <li class="disabled"><a>尾页</a></li>
                    {{end}}
                </ul>
                {{end}}
            </div>
            <div class="col-md-2 category text-center">
                {{if .Categories}}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">文章分类</h3>
                    </div>
                    <div class="panel-body text-justify">
                        <ul>
                        {{range $category :=.Categories}}
                            <li class="list-unstyled" style="line-height: 30px;"><a href="/topic/view/{{$category.CategoryName}}">{{$category.CategoryName}}</a></li>
                        {{end}}
                        </ul>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        {{template "footer" .}}
