{{template "header" .}}
<title>Beego 博客！</title>
</head>

<body>

    {{template "nav" .}}

    <div class="container">
        <div class="jumbotron">
            <h1>Beego 博客！</h1>
            <p>这是一个基于Beego的golang博客系统</p>
            <p><a class="btn btn-primary btn-lg" role="button">建设中。。。</a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {{range $topic := .Topics }}
                <div class="page-header">
                    <h3><a href="/topic/view/{{$topic.Id}}">{{$topic.Title}}</a>
                    </h3>
                    <h6 class="text-muted">文章发表于 {{$topic.Created}}，共有 {{$topic.Views}} 次浏览， {{$topic.ReplyCount}} 个评论</h6>
                    <p>
                        {{$topic.Content}}
                    </p>
                </div>
                {{end}}
            </div>
            <div class="col-md-2 category text-center">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">文章分类</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                        {{range $category :=.Categories}}
                            <li><a href="/category/{{$category.Id}}">{{$category.CategoryName}}</a></li>
                        {{end}}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        {{template "footer" .}}
