{{template "header"}}
<title>{{.Title}}</title>
</head>

<body>
    {{template "nav" .}}
    <div class="container log-reg">
        <h1 class="text-center">{{.Title}}</h1>
        {{if .IsError}}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <strong>{{.Error}}</strong>
        </div>
        {{end}}
        <form role="form" method="post" action="/login">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" class="form-control" placeholder="请输入用户名" name="username">
            </div>
            <div class="form-group">
                <label>密 码</label>
                <input type="password" class="form-control" placeholder="请输入密码" name="password">
            </div>
            <div class="form-group">
                <label>验证码</label>
                <input type="text" class="form-control" placeholder="请输入密码" name="captcha">
                <img id="captcha" src="/captcha" alt="Captcha image" onclick="javascript:reload();" class="captcha" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="isAutoLogin">自动登录
                </label>
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
            <a class="btn btn-default" href="/">取消</a>
        </form>
    </div>
    {{template "footer"}}
