{{template "header"}}
<title>{{.Title}}</title>
</head>

<body>
    {{template "nav" .}}
    <div class="container">
        <h1 class="text-center">{{.Title}}</h1>
        {{template "msgbox" .}}
        {{$Username := .Username}}
        {{with .User}}
        <div class="panel panel-default">
            <div class="panel-heading">{{.Username}}用户详情</div>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>电子邮件</th>
                        <th>注册时间</th>
                        <th>注册IP</th>
                        <th>登录时间</th>
                        <th>最后登录IP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{.Username}}</td>
                        <td>{{.Nickname}}</td>
                        <td>{{.Email}}</td>
                        <td>{{dateformat .Registed "2006-01-02 15:04:05"}}</td>
                        <td>{{.Registeip}}</td>
                        <td>{{dateformat .Lastlogin "2006-01-02 15:04:05"}}</td>
                        <td>{{.Loginip}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            {{if eq $Username .Username }}
            <a class="btn btn-default" href="/user/delete/{{.Id}}">删除</a>
            {{end}}
            <a class="btn btn-default" href="/">取消</a>
        </div>
        {{end}}
    </div>
    {{template "footer"}}
