{{template "header" .}}
<title>{{.Title}}</title>
</head>
<body>
    {{template "nav" .}}
    <div class="container">
        {{template "msgbox" .}}
        {{$IsLogin := .IsLogin}}
        {{$Username := .Username}}
        {{with .Topic}}
        <h3>{{.Title}}</h3>
        {{if $IsLogin}}
            {{if eq $Username .Username }}
            <a href="/topic/modify/{{.Id}}" class="btn btn-default">修改</a>
            <a href="/topic/delete/{{.Id}}" class="btn btn-default">删除</a>
            {{end}}
        {{end}}
        <a href="/" class="btn btn-default">返回</a>
        <h6 class="text-muted"><a href="/user/view/{{.Username}}">{{.Username}}</a> 发表于 {{dateformat .Created "2006-01-02 15:04:05"}}，共有 {{.Views}} 次浏览， {{.ReplyCount}} 个评论 <a href="/topic/view/{{.Category}}">{{.Category}}</a></h6>
        <p>
            <script type="text/javascript">
                (function(){
                    $("h6.text-muted+p").html(markdown.toHTML({{.Content}}));
                })();
            </script>
        </p>
        {{end}}
    </div>
    {{template "footer" .}}
    {{.Generated}}