body { 
	padding-top: 70px; 
}
.category{
	margin-top: 100px;
}
.log-reg{
	width: 60%;
}
.captcha{
	cursor: pointer;
}
footer{
	color: #CCC;
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid #CCC;
}